.document {
    background: #3d3d3d;
    font-family: 'Calibri', 'Arial', 'Times New Roman';
}

.block {
    margin-top: 4px;
    color: #ffffff;
}

.typeDiv {
    width: 160px;
}

.label {
    color: #a8a8a8;
    display: inline-block;
}

.label2 {
    color: #ffffff;
    margin-left: 4px;
}

.input {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.input:disabled {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #969696;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.inputFocus {
    outline: none;
    width: 200px;
    height: 22px;
    background: #b6b6b6;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.select {
    outline: none;
    min-width: 204px;
    width: auto;
    height: 22px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.select:disabled {
    outline: none;
    min-width: 204px;
    width: auto;
    height: 22px;
    background: #3d3d3d;
    color: #969696;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.fixedButton {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.fixedButton:disabled {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #969696;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.button {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.button:disabled {
    outline: none;
    width: 200px;
    height: 22px;
    background: #3d3d3d;
    color: #969696;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.buttonOver {
    width: auto;
    min-width: 200px;
    height: 22px;
    background: #b6b6b6;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.reflexive-block:disabled {
    background: #6d6d6d;
    padding: 6px;
    margin-top: 8px;
    color: #ffffff;
    width:inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.reflexive-block {
    background: #424242;
    padding: 6px;
    margin-top: 8px;
    color: #ffffff;
    width:inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.chunk-select {
    outline: none;
    min-width: 204px;
    height: 22px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.bit-container {
    display:inline-block;
}

.bit-block {
    display: inline-block;
    overflow-x: visible;
    overflow-y: scroll;
    min-width: 200px;
    height: 100px;
    background: inherit;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.bit-hidden {
    padding-left: 2px;
    display: none;
    padding-right: 2px;
}

.bit-visible {
    padding-left: 2px;
    padding-right: 2px;
}

.bit-option {
    display: initial;
}

.stringInput {
    outline: none;
    width: 200px;
    height: 100px;
    background: #3d3d3d;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.stringInput:disabled {
    outline: none;
    width: 200px;
    height: 100px;
    background: #3d3d3d;
    color: #969696;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}